extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/vendor/typed.css')

block scripts
  script(src='/javascripts/vendor/typed.js')
  script(src='/javascripts/lib/typed.js')

block content
  main
    header.flex-container
      figure.profile
        .photo
          img(src='/images/sherardbailey.jpg', alt='Sherard Bailey on the beach in Tel Aviv')
        figcaption
          h1.text-center(title="Sherard Bailey")
              span.name sherodbail.ee
    
    article
      section.bio.flex-container.flex-container-vertical-align
        p.text-center I'm <s>a software engineer</s> an <a href='https://twitter.com/sh3r4rd/status/677591592581136384' target='_blank'>engineering leviathan</a> based in New York City
        p.text-center.
          I really like <strong>EcmaScript 6</strong>, <strong>Node</strong>, <strong>Swift</strong>, <strong>Ruby on Rails</strong>, <strong>BDD</strong> and <strong>functional programming</strong>. 
          I'm also heavily into traveling, #fitness, chess and a major francophile... <em>alors, ici on parle 
          français aussi!</em>
      section.social
        a.btn.ion-social-twitter(href='https://twitter.com/sh3r4rd', target='_blank', title="Twitter")
        a.btn.ion-social-linkedin(href='https://www.linkedin.com/in/sherardbailey', target='_blank', title="LinkedIn")
        a.btn.ion-social-github(href='https://www.github.com/skbailey', target='_blank', title='Github')