extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/typed.css')

block scripts
  script(src='/javascripts/vendor/typed.js')
  script(src='/javascripts/lib/typed.js')

block content
  main#home
    article
      section.intro
        figure.profile
          img(src='/images/sherardbailey.jpg', alt='Sherard Bailey on the beach in Tel Aviv')
          figcaption
            h1.text-center
              span.h2.name sherodbail.ee
      section.bio 
        p I'm a software engineer based in New York City
        p.
          I really like <strong>EcmaScript 6</strong>, <strong>Node</strong>, <strong>Swift</strong>, <strong>Ruby on Rails</strong>, <strong>BDD</strong> and <strong>functional programming</strong>. 
          I'm also heavily into traveling, #fitness, chess and a major francophile... <em>alors, ici on parle 
          français aussi!</em>
      section.social
        ul.social-icons
          li.twitter 
            a(href='https://twitter.com/sh3r4rd', target='_blank') Twitter
          li.linkedin
            a(href='https://www.linkedin.com/in/sherardbailey', target='_blank') LinkedIn
          li.github
            a(href='https://www.github.com/skbailey', target='_blank') Github

