doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Sherard Bailey | Software Engineer
    meta(name='description', content='A website about Sherard Bailey')
    meta(name='keywords', content='programmer developer mathematics computer science code')
    meta(name='author', content='Sherard Bailey')

    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/ionicons.css')
    link(rel='stylesheet', href='/stylesheets/lib/base.css')
    block styles
  body
    block content
    script(src="/javascripts/vendor/jquery.js")
    script(src='/javascripts/vendor/bootstrap.js')
    block scripts