#home section {
  margin-bottom: 60px;  
}

#home section:last-child {
  margin-bottom: 0;  
}

#home article {
  margin: 5% 0;
}

@media screen and (min-width: 768px) {
  #home article {
    margin: 5% 10%;
  }
}

.profile {
  max-width: 300px;
  margin: 0 auto;
}

.profile img {
  width: 100%;
  border-radius: 150px;
}

/* Social Icons */

.social-icons {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.social-icons li {
  float: left;
  margin-right: 10px;
}

.social-icons li a {
  background: transparent url("/images/icons.jpg") no-repeat scroll top left;
  display: block;
  width: 56px;
  height: 56px;
  overflow: hidden;
  text-indent: 56px;
  white-space: nowrap;
  cursor: pointer;
}

.social-icons li.twitter a {
  background-position: -157px -31px;
}

.social-icons li.linkedin a {
  background-position: -443px -31px;
}

.social-icons li.github a {
  background-position: -657px -31px;
}
